.header-appbar {
    background-color: #1976d2;
    /* default MUI primary color */
}

.header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-logo {
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}